#info{
    background-image: url("/fondo.svg");
    background-size: contain;
    background-attachment: fixed;
}
img{
    width: 40px;
    height: 40px;
}
.prueba{
    width: 100%;
}
.prueba > section{
    width: 100%;
    justify-content: space-around;
}

.tareas{
    width: 70%;
}

main, .content {
  margin-left: 52px; /* cuando collapsed */
  transition: margin-left 0.25s ease;
}

.popup{
    position: absolute;
    left: 50%;
    height: 50%;
}

.inputImagen{
    display: none;
}